body {
    font-family: Georgia, serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: #e0e0e0;
    color: #323232;
}


article {
    width: 600px;
    margin: auto;
}


#cover {
    width: 100%;
}


h1 {
    font-size: 3em;
    margin-bottom: 0;
}